.head {
  text-align: center;
}

.head h1 {
  margin: 0;
  padding: 15px;
  background-color: rgb(203, 127, 39);
}

.head p {
  margin: 0;
  padding: 5px;
  background-color: rgb(221, 219, 216);
}

/* body */
body {
  margin: 0;
  background-color: rgb(247, 246, 243);
}

/* isi konten */
.content {
  font-family: sans-serif;
  line-height: 1.5;
}

/* profil char */
.profile ul {
  list-style: none;
}

.subbab-1 {
  padding: 10px;
  border-radius: 5px;
}
