* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  position: sticky;
  top: 0;
  background-color: #2c3e50;
  color: white;
  padding: 10px 0;
}

.navbar {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.img {
  text-align: center;
}

.content {
  text-align: justify;
}

.left {
  width: 20%;
  float: left;
}

.center {
  width: 20%;
  float: left;
  padding-left: 20%;
}

.right {
  width: 20%;
  float: right;
  padding-left: 20%;
}

footer {
  text-align: center;
}
